html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*-----------navbar css starts-------------*/
/*.header{
    position: sticky; dipanshu ka doubt iisse jab navbar mein tap karenge to puura section neeche khisak jaata h
    top: 0; 
    
}*/
.navbar{
    background: linear-gradient(to right,rgba(99, 2, 255, 0.575),rgba(43, 241, 255, 0.692));
    padding: 0 !important;

}
.navbutton i{
    color: rgb(155, 48, 255);
}
.navbutton i:hover{
    color: rgb(105, 71, 255);
}
.navbutton{
    outline: none !important;
}
.nav-item a{
    font-weight: bold !important;
}

.nav-item a:hover{
    color: rgb(125, 12, 190) !important;
}
/*-----------navbar css ends-------------*/
/*--------------header-sections--------------------*/

.header-section
{
    color: white;
    background: linear-gradient(to right,rgba(99, 2, 255, 0.575),rgba(43, 241, 255, 0.692));
    padding-top: 5%;
    position: relative;
    margin-top: 70px;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    animation-duration: 6s;
    animation-delay: 0.5s;
}
.header-section a{
   border: 1px solid rgb(173, 13, 236)  ;
   background-color: rgb(173, 13, 236) !important;
   padding: 8px 12px;
   margin: 0 5px;
   border-radius: 50px;
   text-decoration: none !important;
   color: white;
   font-weight: 500;
}
.header-section a:hover{
    box-shadow: 0 0 19px 0 rgb(0, 255, 255);
    background-color: rgba(60, 242, 248, 0.664) !important;
    border: 1px solid transparent;
    color: white;
    font-weight: 700;
}
.abt{
    animation-duration: 6s;  
}
.wave{
    width:100%;
    outline: none !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}
/*--------------header section ends------------------*/
/*-----------------services stars---------------------*/

.service-div i{
    color: rgba(99, 2, 255, 0.534);
    margin-bottom: 10px;
}
.service-div p{
    color: rgba(65, 65, 65, 0.719) !important ;
}

.service-div h4,.service-title{
    line-height: 1.1;
    word-spacing: 4px;
    font-weight: 550;
}
.service-div{
    background-color:white;
    padding: 30px !important;
    border-radius: 5px;
    transition: 0.4s;
}
.service-div:hover{
    box-shadow:  0 0 20px 0 rgba(0, 0, 0, 0.301);
    transform:translateY(-20px);
}

.services-titles::before{
    content: "";
    background: blueviolet;
    height:5px;
    width: 200px;
    margin: 0 auto;
    display: block;
    transform: translateY(44px);
}
.services-titles::after{
    content: "";
    background: blueviolet;
    height:10px;
    width: 50px !important;
    margin: 0 auto;
    display: block;
    transform: translateY(4px);
}

/*-----------------services ends---------------------*/
/*-----------------about us starts---------------------*/
.aboutus{
    background: linear-gradient(to right,rgba(99, 2, 255, 0.575),rgba(43, 241, 255, 0.692));
}
.aboutus h3{
    font-weight: 500 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.aboutus p{
    color: whitesmoke;
    font-size: large;
}
.about_img {
    width:150px !important;
    height: 150px !important;
    border-radius: 50%;
}
.aboutwave{
    width:100%;
    height: 100px;
    
}
.about-titles::before{
    content: "";
    background: blueviolet;
    height:5px;
    width: 200px;
    margin: 0 auto;
    display: block;
    transform: translateY(44px);
}
.about-titles::after{
    content: "";
    background: blueviolet;
    height:10px;
    width: 80px !important;
    margin: 0 auto;
    display: block;
    transform: translateY(4px);
}

/*-----------------about us ends---------------------*/

/*-----------------my work starts---------------------*/

.work-titles::before{
    content: "";
    background: blueviolet;
    height:5px;
    width: 250px;
    margin: 0 auto;
    display: block;
    transform: translateY(44px);
}
.work-titles::after{
    content: "";
    background: blueviolet;
    height:10px;
    width: 100px !important;
    margin: 0 auto;
    display: block;
    transform: translateY(4px);
}

.work-img{
    border-radius: 5px;
    transition: 0.4s;
}
.work-img:hover{
    box-shadow:  0 0 15px 0 rgb(255, 4, 234);
    transform:translateY(-20px);
}
/*-----------------my work ends---------------------*/
/*-----------------social links---------------------*/
.social{
    background: linear-gradient(to right,rgba(99, 2, 255, 0.575),rgba(43, 241, 255, 0.692)); 
}
.social-titles::before{
    content: "";
    background: blueviolet;
    height:5px;
    width: 250px;
    margin: 0 auto;
    display: block;
    transform: translateY(44px);
}
.social-titles::after{
    content: "";
    background: blueviolet;
    height:10px;
    width: 100px !important;
    margin: 0 auto;
    display: block;
    transform: translateY(4px);
}
.Social-Link img{
    font-size: 50px !important;
    transition: 0.2s;
    width: 50px;
    height: auto;
    border-radius: 20px;
}
.Social-Link img:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 8px 0 rgb(255, 255, 255);
}

.constact-btn{
    border-radius: 50px !important;
    background-color: rgb(185, 62, 216) !important;
    border: 1px solid rgb(185, 62, 216) !important;
}
.constact-btn:hover{
    border: 1px solid rgb(255, 196, 0) !important; 
    background-color: rgb(255, 196, 0) !important;
}

/*-----------------social links ends---------------------*/
/*-----------------testimonials starts---------------------*/
.testi-titles::before{
    content: "";
    background: blueviolet;
    height:5px;
    width: 250px;
    margin: 0 auto;
    display: block;
    transform: translateY(44px);
}
.testi-titles::after{
    content: "";
    background: blueviolet;
    height:10px;
    width: 100px !important;
    margin: 0 auto;
    display: block;
    transform: translateY(4px);
}
.testimonials{
    border-left: 4px solid purple;
    margin-top: 5px;
    margin-bottom:5px;
}
.testimonials img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0 10px
}
/*-----------------testimonials ends---------------------*/
/*-----------------footer starts---------------------*/
.footer{
    background: linear-gradient(to right,rgba(99, 2, 255, 0.575),rgba(43, 241, 255, 0.692)); 
    color: white;
}
.footer-box{
    padding: 20px;
}
.footer-box img{
    width: 100px;
    margin-bottom: 20px;
}
.footer-box .fa{
    margin-right: 8px;
    padding: 2px;
    border-radius: 2px;
    text-align: center;
    background: linear-gradient(to right,rgba(99, 2, 255, 0.575),rgba(43, 241, 255, 0.692)); 

}
.footer-control{
    box-shadow: none !important;
    border: none;
    border-radius: 10px;
    max-width: 250px;
}
.buttons{
  box-shadow: none !important;
  border: none;
  border-radius: 50px !important;
  background: linear-gradient(to right,rgba(99, 2, 255, 0.575),rgba(43, 241, 255, 0.692)); 
  background-repeat: no-repeat;
}
#myBtn{
    /*display: none;*/
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    background-color: rgb(9, 255, 0);
    padding: 10px;
    border-radius: 10px;
}
#myBtn:hover{
    background-color: rgb(162, 0, 255);
}
/*-----------------footer ends---------------------*/














@media (max-width:768px){
    .header-section
    {
        color: white;
        background: linear-gradient(to right,rgba(99, 2, 255, 0.575),rgba(43, 241, 255, 0.692));
        padding-top: 8%; 
       
    }
    .promo-title{
        font-size: 40px;
        font-weight: 600;
        margin-top: 20px;
    }
    .Social-Link img{
        font-size: 30px !important;
        transition: 0.2s;
        width: 30px;
        height: auto;
        border-radius: 20px;
    }
}

